@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: #f3e6d8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.main-container{
    background-color: white;
    max-width: 60%;
    padding: 30px;
    margin: 80px;
    border-radius: 15px;
    font-family: "Outfit";
    line-height: 2.2;
    color: #5f574e;
}
.main-container h1, h2 {
    font-family: "Young Serif";
    font-weight: 500;
}
.main-container h1{
    color: #302d2c;
}
.main-container h2{
    color:  #854632;
}
.image-container{
    overflow: hidden;
}
.image-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px; 
    object-fit: cover;
}
.preparation{
    border-radius: 15px;
    margin: 20px;
    padding: 30px;
    background-color:#fff5fa;
    font-family: "Outfit";
    display: block;
}
.preparation h3{
    color:  #7b284f;
    font-weight: 600;
}
.values{
    color:#854632 ;
    font-weight: 600;
}
.main-container hr{
    margin: 20px;
}
ul,ol{
    margin-left: 30px;
}
.nutrition{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    width: 500px;
}
.attribution{
    font-family: 'Courier New', Courier, monospace;
}

